@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700&display=swap');

.noteCard {
	white-space: pre-wrap;
	background: #f9f9f9;
   border-radius: 10px;
   color: #383a42;
   padding: 18px;
   border: none;
   outline: none;
   overflow: auto;
	font-family: 'JetBrains Mono', monospace;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}