.siteNavBarContainer {
	background: #1c1f23;
   color: white;
	padding: 30px 0px;
	overflow-y: scroll;
}

.siteElement {
	padding: 5px 30px;
	cursor: pointer;
}

.siteElement.selected {
	background: #31363d;
}

.siteElement:hover {
	background-color: #2c3139;
}